table {
    width: 100%;
    table-layout:fixed;
    border-collapse: collapse;
    max-width: 940px;
    margin: 0 auto;
}

table td {
    border: 1px solid black;
    height: 100px;
    vertical-align: top;
}

.day > .event:nth-child(3n + 1) {
    background: skyblue;
}
.day > .event:nth-child(3n + 2) {
    background: sandybrown;
}
.day > .event:nth-child(3n + 3) {
    background: mediumspringgreen;
}

.day .day-number {
    text-align: right;
    font-size: 10px;
}
